.blog {
    &_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 30px;
        grid-area: right;

        &_post {
            display: block;

            img {
                width: 100%;
                display: block;
                border-radius: 6px;
                transition: .3s opacity;

                &:hover {
                    opacity: .9;
                }
            }

            &_info {
                margin-top: 25px;

                i {
                    font-size: 16px;
                    margin-right: 7px;
                    color: var(--red);
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    font-size: 13px;
                    color: var(--lightBlack);
                }

                span:first-child {
                    margin-right: 20px;
                }
            }

            &_title {
                font-size: 22px;
                margin: 5px 0 20px 0;
                line-height: 27px;
                font-weight: 700;
                color: var(--dark);
                transition: .3s color;

                &:hover {
                    color: var(--red);
                }
            }

            &_ago {
                font-size: 15px;
                color: var(--lightBlack);
                font-weight: 400;
                position: relative;
                display: inline;

                &::after {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 4px;
                    border-radius: 5px;
                    background-color: var(--red);
                    position: absolute;
                    right: -35px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .blog {
        &_right {
            grid-template-columns: 1fr;
        }
    }
}