.contact_form {
    &_about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        
        &_item {
            display: flex;
            flex-direction: column;

            label {
                font-size: 15px;
                color: var(--dark);
                font-weight: 600;
            }

            input,
            textarea {
                margin-top: 20px;
            }

            textarea {
                min-height: 140px;
                max-width: 100%;
                min-width: 100%;
            }
        }
    }

    &_about:nth-child(2) {
        display: block;
        margin-top: 20px;
    }

    &_button {
        margin: 25px 0 0 auto;
    }
}

@media(max-width: 767px) {
    .contact_form {
        &_about {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }

        &_button {
            width: 100%;
        }
    }
}