.tours {
    background: var(--gray);

    &_wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &_item {
        margin: 0 15px 30px 15px;
        width: calc(100% / 3 - 30px);
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        &:hover::before {
            height: 40%;
        }

        &:hover &_info {
            &_city,
            &_price {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &::before {
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10%;
            position: absolute;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
            transition: .3s ease height;
        }

        img {
            width: 100%;
            display: block;
        }

        &_info {
            position: absolute;
            width: 100%;
            bottom: 12px;
            padding: 0 20px;
            color: var(--white);

            &_city {
                font-size: 24px;
                line-height: 30px;
                font-weight: 700;
                transform: translateY(15px);
                opacity: 0;
                transition: .3s transform, .4s opacity;
            }

            &_price {
                margin: 5px 0;
                line-height: 25px;
                opacity: 0.9;
                transform: translateY(15px);
                opacity: 0;
                transition: .4s transform, .4s opacity;

                span {
                    color: var(--yellow);
                    font-weight: bold;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .tours {
        &_item {
            width: calc(100% / 2 - 30px);
        }
    }
}

@media (max-width: 767px) {
    .tours {
        &_item {
            width: 100%;
            
            &::before {
                height: 40%;
            }

            &_info {
                &_city,
                &_price {
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }
}