.feedback {
    &_slider {
        margin: 48px auto 0;
        
        &_item {
            padding: 40px 30px;
            position: relative;
            background: var(--white);
            border-radius: 6px;
            border: 1px solid #d4ddde;
            transition: .3s background, .3s border-color;

            &:hover {
                border-color: var(--blue);
                background: var(--blue);

                .feedback_slider_item_icon,
                .feedback_slider_item_text,
                .feedback_slider_item_work {
                    color: var(--white);
                }

                .feedback_slider_item_name {
                    color: var(--yellow);
                }
            }

            &_icon {
                position: absolute;
                top: 25px;
                font-size: 45px;
                color: var(--blue);
                opacity: 0.2;
                transition: .3s color;
            }

            &_text {
                font-weight: 400;
                color: var(--lightBlack);
                transition: .3s color;
                line-height: 26px;
            }

            &_info {
                margin-top: 20px;
                display: flex;
            }

            &_img {
                border-radius: 50%;
                overflow: hidden;
                height: 50px;
                width: 50px;
                
                img {
                    width: 100%;
                    height: 100%;
                    -webkit-user-drag: none;
                }
            }

            &_about {
                margin-left: 20px;
            }

            &_name {
                opacity: 0.9;
                color: var(--black);
                font-weight: 700;
                transition: .3s color;
            }

            &_work {
                color: var(--lightBlack);
                font-size: 15px;
                font-weight: 400;
                transition: .3s color;
            }
        }
    }
}



@media (max-width: 991px) {
    .feedback {
        &_slider {
            margin: 24px auto 0;
        }
    }
}