.footer {

    &_top {
        background: var(--dark);
        padding: 72px 15px 67px 15px;

        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

        &_col {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            padding: 0 15px;

        }

        &_col:nth-child(1) {
            padding: 0 24px 0 15px;
        }

        &_info {
            &_text {
                font-size: 14px;
                line-height: 24px;
                color: #cecece;
            }

            &_icons {
                margin-top: 20px; 

                &_item {
                    margin-right: 9px;
                    color: var(--white);
                    width: 35px;
                    height: 35px;
                    background: rgba(255, 255, 255, 0.06);
                    border-radius: 50%;
                    font-size: 14px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s color;

                    &:hover {
                        color: var(--red);
                    }
                }
            }
        }

        &_menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;

            &_item {
                &_title {
                    color: var(--white);
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin-bottom: 34px;
                    font-weight: 700;
                }

                a {
                    font-size: 14px;
                    line-height: 24px;
                    color: #cecece;
                    margin-bottom: 10px;
                    display: block;

                    &:hover {
                        span {
                            color: var(--blue);
                        }
                    }

                    span {
                        transition: .3s color;
                    }

                    i {
                        margin-right: 4px;
                    }
                }
            }
        }

        &_galery {
            &_wrap {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                grid-row-gap: 15px;
            }

            a img {
                width: 100%;
                border-radius: 6px;
                display: block;
            }
        }
    }

    &_bottom {
        background: #111;

        .container {
            padding: 16px 15px 17px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_copyright {
            font-size: 15px;
            line-height: 20px;
            color: #a0a0a0;
            text-align: center;

            a {
                color: var(--white);
            }
        }

        &_menu {
            a {
                font-size: 14px;
                line-height: 24px;
                color: #cecece;
                margin: 0 16px 0 20px;
                transition: .3s color;

                &:hover {
                    color: var(--blue);
                }
            }
        }
    }
}



@media (max-width: 1280px) {
    .footer {
        &_top-menu {
            grid-gap: 20px;

            &_item_title {
                font-size: 16px;
            }
        }

        &_bottom_menu a {
            margin: 0 10px 0 15px;
        }
    }
}

@media (max-width: 1080px) {
    .footer {
        &_top-menu {
            &_item_title {
                font-size: 14px;
            }
        }

        &_bottom_menu a {
            margin: 0 6px 0 10px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        &_top {
            padding: 48px 0 43px 0;

            &_col {
                flex: 0 0 50%;
                max-width: 50%;
            }
            &_menu {
                margin-bottom: 60px;

                &_item_title {
                    font-size: 18px;
                }
            }
        }

        &_bottom {
            .container {
                flex-direction: column;
                align-items: center;
                grid-gap: 20px;
            }

            &_menu a {
                margin: 0 8px;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &_top {
            .container {
                padding: 0 15px;
            }

            &_col {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 !important;
            }

            &_menu {
                margin: 49px 0 50px;
            }
        }
    }
}