$redColor: #DB162F;
$blueColor: #006989;

.advantages {
    background: var(--white);

    &_wrap {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-gap: 22px;
    }

    &_item {
        width: calc(100% / 4 - 22px);

        &:hover {
            .advantages_item_rounded {
                background: lighten($blueColor, 67%);
                color: var(--blue);
            }
        }

        &_rounded {
            width: 74px;
            height: 74px;
            border-radius: 50%;
            background: lighten($redColor, 45%);
            color: var(--red);
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease color, .3s ease background;
        }

        &_title {
            margin-top: 22px;

            a {
                font-size: 20px;
                font-weight: 700;
                color: var(--black);
                transition: .3s ease color;

                &:hover {
                    color: var(--red);
                }
            }
        }

        &_text {
            margin-top: 10px;
            color: var(--lightBlack);
            line-height: 26px;
            font-weight: 400;
        }
    }
}

@media (max-width: 991px) {
    .advantages {
        &_wrap {
            grid-gap: 30px;
            grid-column-gap: 15px;
            margin: 25px 0;
        }

        &_item {
            width: calc(100% / 2 - 15px);
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        &_wrap {
            grid-gap: 31px;
        }

        &_item {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .advantages {
        &_item_text {
            font-size: 15px;
        }
    }
}

