// Main 

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .main-info.tours {
        margin-top: 0;
    }

    .main-info {
        margin-bottom: 24px;


        &-title {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .main-info.video {
        margin: 0px 0 14px 0;
    }

    .main-info.info-feedback {
        margin: 6px 0 0 0;
    }

    .section.advantages {
        padding: 46px 0 48px 0;
    }

    .section.tours {
        padding: 50px 0 50px 0;
    }

    .section.video {
        padding: 48px 0 50px 0;
    }

    .section.order {
        padding: 0 0 48px 0;
    }

    .section.subscribe {
        padding: 48px 0 49px 0;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .main-info {
        &-title {
            font-size: 28px;
            line-height: 38px;
        }
    }
}

@media (max-width: 440px) {
    .main-info {
        &-title {
            font-size: 26px;
            line-height: 36px;
        }
    }
}


// Nav

@media (max-width: 1366px) {
    .nav-item {
        padding: 8.4px 19.6px;
    }
}

@media (max-width: 1080px) {
    .nav-item {
        padding: 0.6em 1em;
    }
}

@media (max-width: 991px) {
    .nav {
        padding: 12px 15px 13px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-hamburger {
            display: flex;
            margin-top: 1px;
        }

        &-item-wrap {
            margin-top: 3px;
            width: 100%;
            background: #fff;
            padding: 10px;
            border-radius: 6px;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.09);
            display: none;
            flex-direction: column;
            overflow: hidden;
        }


        &-item-wrap[area-expanded=hide].collapsing {
            animation: hideMenu .4s ease forwards;
            display: flex !important;
        }

        &-item-wrap[area-expanded=show].collapsing {
            animation: showMenu .4s ease forwards;
        }

        &-item-wrap[area-expanded=show] {
            display: flex;            
        }

        &-item-wrap[area-expanded=hide] {
            display: none;
        }

        &-item {
            color: var(--black);
            margin: 1px 0;
            width: 100%;
            text-align: center;

            &:hover {
                color: var(--red);
            }
        }

        &-item.active {
            color: var(--red);
        }

        .dropdown {
            &-menu {
                position: relative;
                width: 100%;
                transform: translate(0, 10px);
            }
        }
    }
}


// Main

@media (max-width: 1366px) {
    .main {
        &-slider-item {
            &-col:first-child {
                padding-left: 30px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .main {
        &-slider-item {
            &-title {
                font-size: 55px;
                line-height: 65px;
            }
        }
    }
}

@media (max-width: 1080px) {
    .main {
        &-slider-item {
            &-title {
                font-size: 50px;
                line-height: 60px;
            }

            &-button {
                margin: 30px 0 2px 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .main {
        &-slider-item {
            &-title {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}

@media (max-width: 991px) {
    .main {
        &-slider-item {
            flex-direction: column;
    
            &-col {
                width: 100%;
                height: 100%;
            }
            &-col:first-child {
                padding: 48px 20px;
                height: auto;
                display: block;
            }

            &-sub-title {
                font-size: 16px;
                margin-bottom: 7px;
            }

            &-title {
                margin-bottom: 8px;
            }
        }
        .slider-dots {
            left: 50%;
            transform: translateX(-50%);
            justify-content: center;
        }
    }
}

@media (max-width: 667px) {
    .main {
        &-slider-item {
            &-title {
                font-size: 34px;
                line-height: 44px;
            }

            &-text {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 480px) {
    .main {
        &-slider-item {
            &-title {
                font-size: 32px;
                line-height: 42px;
            }
        }
    }
}


// Advantages

@media (max-width: 991px) {
    .advantages {
        &-wrap {
            grid-gap: 30px;
            grid-column-gap: 15px;
            margin: 25px 0;
        }

        &-item {
            width: calc(100% / 2 - 15px);
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        &-wrap {
            grid-gap: 31px;
        }

        &-item {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .advantages {
        &-item-text {
            font-size: 15px;
        }
    }
}


// Tours

@media (max-width: 991px) {
    .tours {
        &-item {
            width: calc(100% / 2 - 30px);
        }
    }
}

@media (max-width: 767px) {
    .tours {
        &-item {
            width: 100%;
            
            &::before {
                height: 40%;
            }

            &-info {
                &-city,
                &-price {
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }
}


// Video

@media (max-width: 991px) {
    .video {
        &-preview {
            margin: 0;
        }

        &-info {
            flex-wrap: wrap;
            &-col {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px) {
    .video {
        &-info-col:last-child {
            font-size: 15px;
        }
    }
}



// Order

@media (max-width: 767px) {
    .order {
        &-form {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 575px) {
    .order {
        &-form {
            grid-row-gap: 33px;
        }
    }
}

@media (max-width: 384px) {
    .order {
        &-form-item button {
            margin: 10px 0;
        }
    }
}


// Subscribe 

@media (max-width: 991px) {
    .subscribe-info {
        padding: 0;
    }
}

@media (max-width: 384px) {
    .subscribe {
        &-form {
            input,
            button {
                width: 100%;
                border-radius: 6px;
            }

            button {
                margin: 10px 0;
            }
        }
    }
}


// Feedback

@media (max-width: 991px) {
    .feedback {
        &-slider {
            margin: 24px auto 0;
        }
    }
}


// Footer

@media (max-width: 1280px) {
    .footer {
        &-top-menu {
            grid-gap: 20px;

            &-item-title {
                font-size: 16px;
            }
        }

        &-bottom-menu a {
            margin: 0 10px 0 15px;
        }
    }
}

@media (max-width: 1080px) {
    .footer {
        &-top-menu {
            &-item-title {
                font-size: 14px;
            }
        }

        &-bottom-menu a {
            margin: 0 6px 0 10px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        &-top {
            padding: 48px 0 43px 0;

            &-col {
                flex: 0 0 50%;
                max-width: 50%;
            }
            &-menu {
                margin-bottom: 60px;

                &-item-title {
                    font-size: 18px;
                }
            }
        }

        &-bottom {
            .container {
                flex-direction: column;
                align-items: center;
                grid-gap: 20px;
            }

            &-menu a {
                margin: 0 8px;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &-top {
            .container {
                padding: 0 15px;
            }

            &-col {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 !important;
            }

            &-menu {
                margin: 49px 0 50px;
            }
        }
    }
}

@media (max-width: 575px) {
    .feedback {
        .slider-dots {
            justify-content: center;
        }
    }
}